<!doctype html>
<html>
<head>
  <title>New Curriculum</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Add Curriculum</h1>
      <p><a href="/curricula">Back to browse</a></p>
    </div>
    <form method="post" action="/admin/curricula">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group"><label>Title</label><input class="form-control" name="title" required></div>
          <div class="form-group"><label>Description</label><textarea class="form-control" name="description" rows="5"></textarea></div>
          <div class="form-group"><label>Grade level</label><input class="form-control" name="gradeLevel"></div>
          <div class="form-group"><label>Subjects (comma)</label><input class="form-control" name="subjects"></div>
          <div class="form-group"><label>Interests (comma)</label><input class="form-control" name="interests"></div>
        </div>
        <div class="col-sm-6">
          <div class="form-group"><label>Format</label><input class="form-control" name="format" placeholder="video, pdf, live, self-paced, ..."></div>
          <div class="form-group"><label>Cost</label><input class="form-control" name="cost" placeholder="free or paid"></div>
          <div class="form-group"><label>Price</label><input class="form-control" type="number" step="0.01" name="price"></div>
          <div class="form-group"><label>Image URL</label><input class="form-control" name="imageUrl"></div>
          <div class="form-group"><label>Provider</label><input class="form-control" name="providerName"></div>
          <div class="form-group"><label>External URL</label><input class="form-control" name="externalUrl"></div>
          <div class="checkbox"><label><input type="checkbox" name="faithBased" value="true"> Faith-based</label></div>
          <button class="btn btn-success" type="submit">Create</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>


